/* Custom styles */
body {
    font-family: 'Montserrat', sans-serif;
}
main {
    background-color: white;
    z-index:2;
}
a {
    text-decoration: none; /* Removes underlines from links */
}

/* Sidebar styling */
.sidebar {
    background-image: url('images/stoneinwater.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    background-color: #f8f9fa;
    padding: 1.5rem;
    border-right: 1px solid #dee2e6;
    min-height: 100vh;
}

.sidebar .profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #28a745;
    border-radius: 50%;
}

.social-icons {
    display: flex;
    gap: calc(1rem + 1vw) ;
}

.social-icons a {
    margin-right: 0.5rem;
    color: #333;
    font-size: 3.5rem;
}

.social-icons a i {
    color: white;
}

.social-icons a:hover {
    color: #28a745;
}

.project-card {
    transition: transform 0.2s;
}

.project-card:hover {
    transform: scale(1.02);
}

/* Preloader styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff url(images/loader.gif) no-repeat center center;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
